<!DOCTYPE html>
<html>

<head>
  <title><%= @actor_row.name %></title>
</head>

<body>
<h1><%= @actor_row.name %></h1>

<p></p>
Born <%= @actor_row.dob %>

<p>
  <a href="/actors/<%= @actor_row.id %>">
    View
  </a>
  &NonBreakingSpace;
  <a href="/actors/<%= @actor_row.id %>/edit_form">
    Update
  </a>
  &NonBreakingSpace;
  <a href="/delete_actor/<%= @actor_row.id %>">
    Delete
  </a>
</p>

<p><img src=<%= @actor_row.image_url %> width="200px"></p>

<p><%= @actor_row.bio %></p>

</body>

</html>